body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.subscription-popup,
.access,
.search-entry-field,
.site-nav-paragraph,
.full-basket,
.modal {
  display: none;
}

a {
  color: #ffffff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  min-height: 75px;
}

.page-bg {
  min-width: 940px;
  width: 100%;
  height: 100%;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top 85px center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.page-bg::before,
.page-bg::after {
  content: "";
  visibility: hidden;
}

.page-bg::before {
  background-image: url("../img/slider-item2.png");
}

.page-bg::after {
  background-image: url("../img/slider-item3.png");
}

.main-header-logo {
  width: 158px;
  height: 73px;
  margin-top: 15px;
}

.wrapper{
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}
nav.main-nav{
  width: 100%;
}

.search-nav {
  margin-left: auto;
  padding-top: 13px;
}
.search-nav input{
  background-image: url(../img/loupe.svg);
}

.user-nav svg,
.search-nav svg {
  fill: #ffffff;
}

.user-nav svg:hover {
 fill: #323232;
}

.user-nav a.active {
  background-color: #ffffff;
  color: #323232;
}

.site-nav {
  display: flex;
  width: 500px;
  font-weight: bold;
}

.site-nav a {
  display: block;
  padding-left: 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
}

.site-nav li:hover a{
  color:#323232;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 10px;
  text-decoration: none; 
  background: #ffffff;
}

.site-nav li a.active {
  border: 2px solid #d07058;
  border-radius: 20px;
  padding: 10px;
  color:inherit;
  text-decoration: none; 
  background-color: #d07058;
  }

.site-nav li a:focus  {
  background-color: #f8f7f4;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 2px 5px; 
  padding: 10px;
  color:#323232;
  text-decoration: none; 
  }

.search-nav a,
.user-nav a {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  top: 28px;
  margin-right: 15px;
}

.search-nav a {
  padding-left: 7px; 
  padding-right: 7px;
}

.schedule {
  margin-left: auto;
}

.navig-site-catalog {
  display: flex;
  flex-direction: row;
}

ul.navig-site-catalog {
  padding: 0px;
}

.navig-site-catalog a:hover {
  color: #ffbc9e;
  font-weight: medium;
}

.navig-site-catalog a:focus {
  color: #ffbc9e;
  font-weight: medium;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 23px;
  height: 37px;
}

.user-nav a {
  display: block;
  border: 1px solid transparent;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.user-nav a:hover{
  background-color: #ffffff;
  color: #323232;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  text-decoration: none; 
  background: #ffffff;
}

.user-nav a:hover svg{
  fill: #323232;
}

.search-nav li:hover a {
  background: rgba(255, 255, 255, 1);
}

.search-nav a:hover svg {
   fill: #323232;
}

p.search-nav {
  height: 28px;
}

.time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.main-header.wrapper {
  display: flex;
  flex-direction: column;
}

.main-header.wrapper.row {
  width: 100%;
}

.phone a {
  text-decoration: none;
}

.promo {
  position: relative;
  bottom: 76px;
  padding-top: 361px;
  z-index: 3;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  border-radius: 50px;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .page-bg #slide1,
#product-2:checked ~ .page-bg #slide2,
#product-3:checked ~ .page-bg #slide3 {
  display: block;
}

#product-1:checked ~ .page-bg label[for="product-1"],
#product-2:checked ~ .page-bg label[for="product-2"],
#product-3:checked ~ .page-bg label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .page-bg {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  margin-left: -42px;
}

#product-2:checked ~ .page-bg {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .page-bg {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

.addition {
  display: flex;
  margin-left: 25px;
  margin-bottom: 43px;
}

.raspberries {
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  border-radius: 15px;
  padding-left: 25px;
  margin-right: 27px;
}

.chocolate {
  background-image: url("../img/chocolate.png");
  background-repeat: no-repeat;
  width: 560px;
  box-sizing: border-box;
  height: 230px;
  border-radius: 10px;
  padding-left: 25px;
}

.raspberries h2, 
.chocolate h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 25px;
}

.raspberries p, 
.chocolate p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 28px;
}

.addition-button {
  font-weight: 400px;
  padding: 15px 27px;
  margin-left: auto;
  margin-right: 20px;
  background: #f26843;
  border-radius: 50px;
  border: none;
 text-decoration: none;
  cursor: pointer;
}

.heading h2{
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.general-info {
  background-image: url("../img/wafer.png");
  background-size: cover;
  border-radius: 20px;
  color: #323232;
  height: auto;
  width: 1150px;
  margin: 0 auto;
  margin-left: 30px;
  margin-bottom: 42px;
}

.general-info h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: inherit;
  padding-top: 30px;
  padding-left: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.fact-info li {
  box-sizing: border-box;
  width: 530px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

ul.fact-info {
 margin: 0;
 padding: 0;
 padding-left: 24px;

}

.fact-1,.fact-2 ,.fact-3 ,.fact-4 {
  display: flex;
}

.fact-info {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.fact-info p {
  margin-left: 10px;
}

.blog {
  background-image: url("../img/strawberry.png");
  background-repeat: no-repeat;
  color: #323232;
  min-height: 220px;
  line-height: 22px;
  font-weight: medium;
  margin-left: 25px;
  width: 565px;
  margin-right: 26px;
  padding-left: 21px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog p {
  padding-top: 25px;
}

.subscription {
  background-image: url("../img/post-office.png");
  background-repeat: no-repeat;
  min-height: 220px;
  padding-top: 38px;
  margin-bottom: 40px;
  width: 570px;
}

 .subscription p {
  margin: 0;
  color: #323232;
  margin-left: 27px;
  margin-bottom: 5px;
 }

 .subscription input {
  min-width: 367px;
  min-height: 45px;
  margin-top: 30px;
  margin-left: 30px;
  color: #999999;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 15px;
 }

 .subscription a {
  font-size: 18px;
  border-radius: 25px;
  padding: 10px;
 }

.content-row { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.content-row {
  margin:0;
  padding: 0;
}

ul:nth-child(1).content-row {
  margin-top: 40px;
}

ul:nth-child(3).content-row {
  margin-bottom: 40px;
}

.catalog-ice-cream ul{
  margin: 0;
  padding: 0;
}

.icecream-card {
  position: relative;
  width: 295px;
  height: 407px;
}

.icecream-card ul {
  padding: 0;
}

.icecream-card h3 {
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  z-index: 5;
  font-weight: 400;
  text-align: center;
  margin: 0;
  bottom: 77px;
  text-decoration: underline;
}

.icecream-card span{
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  margin-top: 222px;
  position: absolute;
  z-index: 3;
}

.icecream-card li {
  width: 295px;
  height: 407px;
  
}

.icecream-card a.link {
  width: 203px;
  height: 47px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  display: none;
  position: absolute;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  bottom: 20px;
  margin-left: 48px;
  padding-left: 0px;
}

article.icecream-card{
  margin-left: -10px;
}
article.icecream-card:hover {
  background-image: url("../img/fon-ice.png");
  border-radius: 10px;
}
article.icecream-card img {
  width: 263px;
  padding-left: 25px;
}

article.icecream-card h3,
article.icecream-card span{
  padding-left: 25px;
}

article.icecream-card:hover a.link {
  display: block;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

article.icecream-card:active a.link {
  display: block;
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.content-row svg {
  position: absolute;
  z-index: 3;
  padding-left: 25px;
}

.content-row ul {
  padding: 0;
}

.catalog-paragraph optgroup[label] {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.navig-site-catalog li:nth-child(2n) {
  padding-left: 7px;
  padding-right: 7px;
}

.sorting {
  display: none;
}

.style-filter p {
  font-size: 14px;
  line-height: 16px;
}

.style-filter {
  width: 520px;
  display: flex;
  padding-left: 15px;
}

.style-filter p:nth-child(2) {
  padding-left: 100px;
  padding-right: 65px;

}

.sort-popularity {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px; 
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  height: 27px;
 }

.sort-popularity a {
  text-decoration: none;
}

.sort:hover {
  color: #323232;
}

.sort-popularity svg:hover {
 fill: #323232;
}

.range {
  width: 222px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

a.circle-1 {
  position: absolute;
  margin-top: 366px;
  margin-left: 50px;
  z-index: 5;
  top: 5px;
}

a.circle-2 {
  position: absolute;
  margin-top: 366px;
  margin-left: 150px;
  z-index: 5;
  top: 5px;
}

hr.range-1 {
  width: 177px;
  background: rgba(255, 255, 255, 0.5);
  size: 5px;
  margin-top: 14px;
  padding-top: 5px;
  z-index: 2
}

hr.range-2 {
  width: 100px;
  background: rgba(255, 255, 255, 1);
  size: 5px;
  position: absolute;
  padding-top: 5px;
  z-index: 3;
  margin-top: -15px;
  margin-left: 50px;
}

.radio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 415px;
}

.radio-list p {
  margin: 0;
  padding-top: 5px;
}

.radio-list svg,
.checkbox-list svg{
  opacity: 0.8;
}

.radio-list svg:hover,
.checkbox-list svg:hover {
  fill: #ffffff;
  opacity: 1.0;
}

.checkbox-list {
  width: 705px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-list p {
  margin: 0px;
  padding-top: 5px;
}

.filter {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px; 
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
}

.filter:hover {
  background: rgba(255, 255, 255, 1);
  color: #323232;
}

.filter:focus {
  box-shadow: inset 0 2px 5px; 
  border: none;
  background: #ededed;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-left: auto;
}

.pagination ul {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.pagination li {
  display: inline;
  padding-top: 10px;
}

.pagination li:nth-child(1) {
  padding-left: 0px;
}

.pagination .back {
  transform: rotate(180deg);
  margin-left: auto;
}

.pagination a{
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination a.active {
  background: rgba(255, 255, 255, 1);
  color: #323232;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination a:hover {
  background: rgba(255,255,255, 0.3);
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination a:focus {
  background: rgba(255, 255, 255, 1);
  color: #323232;
}

.divide{
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  width: 1180px;
  opacity: 0.3;

}

.map {
  margin-top: 42px;
  background-image: url("../img/map.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 430px;
  z-index: 1;
}

.map iframe{
  position: absolute;
  padding-bottom: 130px;
  margin-top: -385px;
  width: 100%;
  min-height: 430px;
  frameborder:0; 
  border:0;
  z-index: 2;
}

.contact {
  background-color: #ffffff;
  border-radius: 20px;
  color:#323232;
  width: 304px;
  min-height: 307px;
  margin-top: 45px;
  padding-left: 26px;
  padding-top: 34px;
}

.contact p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.contact h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.contact a {
  margin-top: 25px;
  padding: 15px 30px;
  border-radius: 25px;
  width: 222px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 30px;
}

h3.address {
  margin-bottom: 20px;
  margin-top: 12px;
}

.contact h3.phone {
  margin-top: 5px;
  margin-bottom: 5px;
}

.map svg {
  margin-left: 238px;
  margin-top: 141px;
  margin-right: 532px;
  
}

.map .row{
  position: sticky;
  bottom: 0px;
  z-index: 5;
}

footer {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  z-index: 6;
  margin-top: 35px;
}

footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 10px;
}

.column-2 {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  flex-direction: row;

}

.partners .row {
  justify-content: space-between;
}

.column-2 .inden {
  padding-right: 35px;
}

.inden a{
  padding-left: 17px;
}

ul.partners {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 15px;


}
.column-3 {
  width: 220px;
}

.social a {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255,255,255, 0.8);
  border-radius: 50%;
  display: block;
}

.social a:hover svg {
  fill: #ffffff;
  opacity: 1.0;
}

a.column2-bold {
  font-weight: bold;
}

.inden-1 {
  padding-left: 0px;
}

.column-3 svg {
  width: 110px;
  height: 45px;
}

p.developer {
  padding: 0;
  margin: 0;
}

.catalog-paragraph a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.catalog-paragraph a:hover {
  background-color: #fbded7;
}

.catalog-paragraph a:focus {
  background-color: #f6b5a5;
}

.catalog-paragraph a.active {
  background-color: #d07058;
  color: #ffffff;
}

.modal {
  background-color: #f8f7f4;
  border: 0;
  position: absolute;
  z-index: 5;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0,0,0, 0.4);
}

.login {
  top: 64px;
  color: #323232;
  left: 910px;
  width: 280px;
  min-height: 220px;
  display: none;
}

.access {
  width: 240px;
  height: 175px;
  font: inherit;
  box-sizing: border-box;
  padding: 0;
}

.access a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.access p {
  width: 140px;
}

.check-in {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.entry-field input, textarea {
 color: #999999;
  font-size: 14px;
  line-height: 24px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;
  height: 45px;
  padding-left: 15px;
  margin-top: 20px;
}

.access input {
  width: 225px;
  height: 45px;
  margin-left: 20px;
}

.access button {
  font-size: 18px;
  width: 100px;
  height: 47px;
  line-height: 24px;
  color: #fefefe;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  vertical-align: middle;
}

.search-entry-field {
  top: 64px;
  left: 675px;
  width: 342px;
  min-height: 85px;
}

.search-entry-field input {
  width: 311px;
  margin-top: 20px;
  margin-left: 15px;
}

.site-nav-paragraph {
  background-color: #f8f7f4;
  border: 0;
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 300px;
  width: 143px;
  min-height: 173px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0,0,0, 0.4);
}

.site-nav-paragraph {
  display: none;
}

.site-nav-unit {
  position: absolute;
  top: 55px;
  left: 240px;
  width: 145px;
  height: 180px;
}

.site-nav-unit ul {
  padding: 0;
  margin: 0;
  margin-top: 13px;
  margin-left: 20px;
} 

.site-nav-unit a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.site-nav-unit li:hover {
  background-color: #fbded7;
  margin-left: -20px;
  padding-left: 20px;
}

.site-nav-unit li:nth-child(2):hover{
  background-color: transparent;
  margin-left: 0;
  padding-left: 0;
}

.site-nav-unit li:active {
  background-color: #f6b5a5;
  margin-left: -20px;
  padding-left: 20px;
}

.site-nav-unit li.active {
  background-color: #d07058;
  margin-left: -20px;
  padding-left: 20px;
}


.site-nav-unit li {
  padding-bottom: 10px;
}

.site-nav-unit hr {
  margin-left: -14px;
}

.catalog-paragraph a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.subscription-popup {
  background-color: #f8f7f4;
  color: #323232;
  border: 0;
  position: fixed;
  z-index: 5;
  top: 150px;
  left: 400px;
  width: 400px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0,0,0, 0.4);
  bottom: 50px;
  padding-left: 20px;
}

.subscription-popup h2 {
  margin-bottom: 10px;
}

.subscription-popup input, textarea {
  width: 250px;
  margin-top: 15px;
}

.subscription-popup textarea {
  width: 360px;
  min-height: 150px;
}

.subscription-popup textarea::placeholder {
  vertical-align: top;
}

.subscription-popup button {
  font-size: 18px;
  width: 150px;
  height: 47px;
  line-height: 24px;
  color: #fefefe;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 10px;
  vertical-align: middle;
}

.full-basket {
  color: #323232;
  top: 64px;
  left: 670px;
  width: 543px;
  min-height: 242px;
  direction: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 24px;
  font-size: 13px;
  line-height: 16px;
}

.link button {
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 47px;
  line-height: 24px;
  color: #fefefe;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #e84d37;
  border: 2px solid #e84d37;
  border-radius: 25px;
  box-shadow: 0 2px 3px #ac1000;
  padding: 10px;
  padding-left: 10px;
  text-decoration: none;
  vertical-align: middle;
}

.full-basket button {
   font-size: 18px;
  width: 171px;
  height: 45px;
  line-height: 24px;
  color: #fefefe;
  margin-top: 20px;
  background-color: #e84d37;
  border: 2px solid #e84d37;
  border-radius: 25px;
  box-shadow: 0 2px 3px #ac1000;
  padding: 10px;
  text-decoration: none;
  vertical-align: middle;
}

.full-basket td {
 padding-left: 10px;
}

.full-basket span {
  color: #999999;
}

td.title {
  width: 217px;
  margin-right: 30px;
}

td.price {
  margin-right: 30px;
}

.full-basket span.schedule {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
}

.full-basket hr {
  color: #999999;
}

.sorting {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: medium;
}


.modal-show {
  display: block;
}